<div id="header">
    <div id="main_title">
        Communities Over Capitalism
    </div>
    <div id="nav_bar">
        <a class="nav_bar_link" href="/">Home</a>
        <a class="nav_bar_link" href="/about_us">About Us</a>
        <a class="nav_bar_link" href="/get_involved">Get Involved</a>
        {# TODO commenting this out because it isn't secure #}
        {# <a class="nav_bar_link" href="/blog">Blog</a> #} 
    </div>
    <div id="blm_fist_header">
        <img id="blm_fist_header_icon" src="{{url_for('static', filename='images/blm_fist.jpeg')}}" alt="BLM Fist Icon"/>
    </div>
</div>
