/* General */

body {
    margin: 0px;
}

#background_image {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#main_body {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 100px;
    display: inline-block;
}

a {
    color: black;
    font-weight: bold;
}

/* Page Header Partial */

#header {
    margin-bottom: 50px;
    padding-bottom: 65px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FAFAFA; /* off white */
    opacity: 0.95;
}

#main_title {
    font-size: 25px;
    display: inline-block;
    width: 20%;
    position: relative;
    top: 3px;
}

#nav_bar {
    font-size: 15px;
    text-align: center;
    display: inline-block;
    width: 59%;
}

.nav_bar_link {
    padding-right: 10px;
}

#blm_fist_header {
    text-align: right;
    display: inline-block;
    width: 20%;
}

#blm_fist_header_icon {
    max-height: 80px;
    width: auto;
    position: relative;
    top: 35px;
}

/* Footer */

#footer {
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #FAFAFA; /* off white */
    opacity: 0.95;
}

#blm_fist_footer {
    text-align: center;
    display: inline-block;
    width: 100%;
}

#blm_fist_footer_icon {
    max-height: 50px;
    width: auto;
}

/* General Page Layout */

.main_body_row {
    /* Spacing out the rows */
   /*  margin-top: 15px; */
}

.full_width_main_body_block {
    /* Positioning */
    display: inline-block;
    width: 100%;
    margin-top: 15px;

    /* Decoration */
    border-radius: 20px;
    background-color: #FAFAFA; /* off white */
    opacity: 0.95;
}

.main_body_text {
    /* Text Positioning within the Block */
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.left_half_width_main_body_block {
    /* Positioning */
    display: inline-block;
    width: 49%;
    float: left;
    margin-top: 15px;

    /* Decoration */
    border-radius: 20px;
    background-color: #FAFAFA; /* off white */
    opacity: 0.95;
}

.right_half_width_main_body_block {
    /* Positioning */
    display: inline-block;
    width: 49%;
    float: right;
    margin-top: 15px;

    /* Decoration */
    border-radius: 20px;
    background-color: #FAFAFA; /* off white */
    opacity: 0.95;
}

/* Blog Page Layout */

.blog_post_next_prev_links {
    height: 18px;
}

.blog_next_link {
    float: right;
}

