<html>
    <head>
        <title>
            {% if title %}
                {{ title }}
            {% else %}
                Communities Over Capitalism
            {% endif %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
    <img id="background_image" src="{{ url_for('static', filename='images/high_res_ms_paint_crayon_drawing.png') }}">
        {% include 'partials/header.html' %}
        <div id="main_body">
            {% include page %}
        </div>
    </body>
</html>
